<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src={{career.image}} alt="Admin" width="250">
                    <div class="mt-3">
                      <h4>{{career.name}}</h4>
                      {{#if isTeacher}}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCareer">Editar</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#deleteCareer">Deletar</button>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                  <div class="row d-flex align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Descrição</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{career.description}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="editCareer" tabindex="-1" aria-labelledby="editCareerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCareerLabel">Editar conteúdo de {{career.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/careers/{{career._id}}/edit" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row g-3">
            <div class="mb-3">
              <label for="careerName">Nome do carreira:</label>
              <input type="text" class="form-control" placeholder="Carreira" name="careerName" value="{{career.name}}">
            </div>
            <div class="mb-3">
              <label for="careerDescription">Descrição:</label>
              <input type="text" class="form-control" placeholder="Descrição" name="careerDescription" value="{{career.description}}">
            </div>
            <div class="mb-3">
              <label for="courseImage">Imagem:</label>
              <input type="file" class="form-control" name="careerImage">
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input activation-toggle" type="checkbox" name="careerActive" 
              {{#if career.active}}
                checked
              {{/if}}>
              <label class="form-check-label" for="careerActive">Carreira 
            <span>{{#if career.active}}{{else}}des{{/if}}ativad</span>a</label>
      </div>
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar alterações</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteCareer" tabindex="-1" aria-labelledby="deleteCareerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCourseLabel">Deletar {{career.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/careers/{{career._id}}/delete" method="post">
        <div class="modal-body">
        <p>Tem certeza de que deseja remover a carreira {{career.name}} da plataforma?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Deletar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.querySelector('.activation-toggle').addEventListener('click', () => {
  const activationCheck = document.querySelector('.activation-toggle');
  if (activationCheck.checked) {
    activationCheck.parentNode.querySelector('label span').innerHTML = 'ativad';
  } else {
    activationCheck.parentNode.querySelector('label span').innerHTML =
      'desativad';
  }
  });
</script>