<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src={{course.image}} alt="Admin" width="250">
                    <div class="mt-3">
                      <h4>{{course.name}}</h4>
                      <p class="text-secondary mb-1">{{course.grade}}</p>
                      {{#if isTeacher}}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCourse">Editar</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#deleteCourse">Deletar</button>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3 d-flex align-items-center">
                      <h6 class="mb-0">Código da matéria</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{course.code}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3 d-flex align-items-center">
                      <h6 class="mb-0">Série</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{course.grade}}
                    </div>
                  </div>
                  <hr>
                  <div class="row d-flex align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Descrição</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{course.description}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 d-flex justify-content-between align-items-center">
                <h4>Professor cadastrado na plataforma:</h4>
              </div>
              {{#if course.teacher}}
                <a href="/teachers/{{course.teacher._id}}" class="col-md-8 text-reset text-decoration-none">
                  <div class="card mb-3">
                        <div class="card-body">
                          <div class="d-flex align-items-center mb-3">
                            <img class="rounded-circle" width="90" src="{{course.teacher.profilePicture}}" alt="Avatar">
                            <h5 class="ms-3">{{course.teacher.firstName}} {{course.teacher.lastName}}
                            </h5>
                          </div>
                          <div class="row">
                            <div class="col-sm-3 d-flex align-items-center">
                              <h6 class="mb-0">Email
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{course.teacher.email}}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3 d-flex align-items-center">
                              <h6 class="mb-0">Gênero
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{course.teacher.gender}}
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
              {{else}}
                <small>Até o momento não há nenhum professor cadastrado.</small>
              {{/if}}
            </div>
          </div>
        </div>
    </div>


<!-- Edit Modal -->
<div class="modal fade" id="editCourse" tabindex="-1" aria-labelledby="editCourseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCourseLabel">Editar conteúdo de {{course.name}} do {{course.grade}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/courses/{{course._id}}/edit" method="post" class="px-4 py-3 needs-validation" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="courseCode">Código da matéria:</label>
              <input type="text" class="form-control 
                {{#if codeError}}
                  is-invalid
                {{/if}}" placeholder="Exemplo: MAT408" name="courseCode" value="{{course.code}}">
                {{#if codeError}}
                  <div class="invalid-feedback">{{codeError}}</div>
                {{/if}}
            </div>
            <div class="col-md-6">
              <label for="courseName">Nome da matéria:</label>
              <input type="text" class="form-control 
                {{#if nameError}}
                  is-invalid
                {{/if}}" placeholder="Exemplo: MAT408" name="courseName" value="{{course.name}}">
                {{#if nameError}}
                  <div class="invalid-feedback">{{nameError}}</div>
                {{/if}}
            </div>
            <div class="mb-1">
              <label for="courseDescription">Descrição:</label>
              <textarea rows="3" type="text" class="form-control" name="courseDescription">{{course.description}}</textarea>
            </div>
            <div class="mb-1" id="courseTeacherInput">
        <label for="courseTeacher">Professor:</label>
        <select class="form-select" name="courseTeacher">
          {{#each teachers}}
            <option value={{this._id}}>{{this.firstName}} {{this.lastName}}</option>
          {{/each}}
        </select>
      </div>
        <div class="mb-1">
              <label for="courseImage">Imagem:</label>
              <input type="file" class="form-control" name="courseImage">
        </div>
        <div class="mb-1" id="courseGradeInput">
          <label for="courseGrade">Série do curso:</label>
          <select class="form-select" name="courseGrade">
            {{#each gradesValues}}
              <option value={{this.value}}>{{this.text}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input activation-toggle" type="checkbox" name="courseActive" 
          {{#if course.active}}
            checked
          {{/if}}>
          <label class="form-check-label" for="courseActive">Matéria 
            <span>{{#if course.active}}{{else}}des{{/if}}ativad</span>a</label>
      </div>
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar alterações</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- Delete Modal --}}

<div class="modal fade" id="deleteCourse" tabindex="-1" aria-labelledby="deleteCourseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCourseLabel">Deletar {{course.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/courses/{{course._id}}/delete" method="post">
        <div class="modal-body">
        <p>Tem certeza de que deseja remover o curso {{course.name}} do {{course.grade}} da plataforma?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Deletar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.querySelector('.activation-toggle').addEventListener('click', () => {
  const activationCheck = document.querySelector('.activation-toggle');
  if (activationCheck.checked) {
    activationCheck.parentNode.querySelector('label span').innerHTML = 'ativad';
  } else {
    activationCheck.parentNode.querySelector('label span').innerHTML =
      'desativad';
  }
  });
</script>
