<h1>Matérias</h1>

<div class="d-flex justify-content-between align-items-center mb-3">
    {{#if isTeacher}}
    <div class="dropdown">
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             Série: <span>Todas</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter filter-icon" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>    
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item active" href="/courses">Todas as séries</a></li>
            <li><hr class="dropdown-divider"></li>
            {{#each gradesValues}}
                <li><a class="dropdown-item" href="/courses?grade={{this.value}}">{{this.text}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Professor: <span>Todos</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter filter-icon" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>    
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item active" href="/courses">Todos os professores</a></li>
            <li><hr class="dropdown-divider"></li>
            {{#each teachers}}
                <li><a class="dropdown-item" href="/courses?teacher={{this._id}}">{{this.firstName}} {{this.lastName}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
            Status: <span>Todos</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter filter-icon" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>    
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
            <li><a class="dropdown-item active" href="/courses">Todos os cursos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/courses?active=true">Cursos ativos</a></li>
            <li><a class="dropdown-item" href="/courses?active=false">Cursos desativados</a></li>
        </ul>
    </div>
    <a href="/new/course"><button class="btn btn-primary">Criar nova matéria</button></a>
    {{/if}}
    <form class="my-auto" action="/courses" method="post">
        <div class="input-group">
            <input type="text" class="form-control" name="courseName" placeholder="Nome da matéria">
            <button type="submit" class="btn btn-primary">Buscar Matéria</button>
        </div>
    </form>
</div>

{{#if courses}}
    <div class="item-list">
        {{#each courses}}
            <a href="/courses/{{this._id}}" class="text-decoration-none text-reset">
                <div class="card content-card" style="width: 15rem;">
                    <img src="{{this.image}}" class="card-img-top item-img" alt="Course image">
                    <div class="card-body p-1">
                        <h5 class="card-title text-center m-0">{{this.name}}</h5>
                        <p class="card-text text-center reduce-text-size m-0">{{this.code}} - {{this.grade}}</p>
                        {{#if this.teacher}}
                            <div class="d-flex flex-row justify-content-around align-items-center">
                                <small class="my-1">Professor:</small>
                                <a class="text-decoration-none text-reset" href="/teachers/{{this.teacher._id}}">     
                                        <img src="{{this.teacher.profilePicture}}" class="avatar mx-auto" alt="Teacher Picture">
                                        <small class="reduce-text-size fw-lighter">{{this.teacher.firstName}} {{this.teacher.lastName}}</small>
                                </a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
{{else}}
    <h1 class="section-title">Nenhum curso encontrado. Tente novamente.</h1>
{{/if}}

<script>
    console.log(document.getElementsByClassName('dropdown-menu')[1]);
    document.getElementsByClassName('dropdown-menu')[1].addEventListener('click', () => {
        const dropdownElement = document.getElementsByClassName('dropdown-menu')[1];
        console.log(dropdownElement);
    });
</script>