<h1>Matérias</h1>

<form action="/courses" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="courseName" placeholder="Digite a matéria que gostaria de encontrar">
        <button type="submit" class="btn btn-primary">Buscar Matéria</button>
    </div>
</form>


{{#if courses}}
<div class="item-list">
    {{#each courses}}
        <div class="card content-card" style="width: 18rem;">
            <img src="{{this.image}}" class="card-img-top item-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="/courses/{{this._id}}" class="btn btn-primary">Ver detalhes da matéria</a>
            </div>
        </div>
    {{/each}}
</div>
{{else}}
    <h1>Nenhum curso encontrado. Tente novamente.</h1>
{{/if}}