<h4>{{course.name}}</h4>
<div class="content-container">
  <img class="content-img" src="{{course.image}}" alt="{{course.name}} image">
  <div>
    <h5>Código: <span>{{course.code}}</span></h5>
    <h5>Descrição: <span>{{course.description}}</span></h5>
    <h5>Professor: <span>{{course.teacher.firstName}} {{course.teacher.lastName}}</span></h5>
    <h5>Email do professor: <span>{{course.teacher.email}}</span></h5>
    <h5>Série: <span>{{gradesValues.[0].text}}</span></h5>
  </div>
</div>

{{#if isTeacher}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCourse">
  Editar curso
</button>

<!-- Modal -->
<div class="modal fade" id="editCourse" tabindex="-1" aria-labelledby="editCourseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCourseLabel">Editar conteúdo de {{course.name}} do {{course.grade}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/courses/{{course._id}}/edit" method="post" class="px-4 py-3 needs-validation" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="courseCode">Código da matéria:</label>
              <input type="text" class="form-control 
                {{#if codeError}}
                  is-invalid
                {{/if}}" placeholder="Exemplo: MAT408" name="courseCode" value="{{course.code}}">
                {{#if codeError}}
                  <div class="invalid-feedback">{{codeError}}</div>
                {{/if}}
            </div>
            <div class="col-md-6">
              <label for="courseName">Nome da matéria:</label>
              <input type="text" class="form-control 
                {{#if nameError}}
                  is-invalid
                {{/if}}" placeholder="Exemplo: MAT408" name="courseName" value="{{course.name}}">
                {{#if nameError}}
                  <div class="invalid-feedback">{{nameError}}</div>
                {{/if}}
            </div>
            <div class="mb-1">
              <label for="courseDescription">Descrição:</label>
              <textarea rows="3" type="text" class="form-control" name="courseDescription">{{course.description}}</textarea>
            </div>
            <div class="mb-1" id="courseTeacherInput">
        <label for="courseTeacher" class="form-label">Professor:</label>
        <select class="form-select" name="courseTeacher">
          {{#each teachers}}
            <option value={{this._id}}>{{this.firstName}} {{this.lastName}}</option>
          {{/each}}
        </select>
      </div>
        <div class="mb-1">
              <label for="courseImage">Imagem:</label>
              <input type="file" class="form-control" name="courseImage">
        </div>
        <div class="mb-1" id="courseGradeInput">
          <label for="courseGrade" class="form-label">Série do curso:</label>
          <select class="form-select" name="courseGrade">
            {{#each gradesValues}}
              <option value={{this.value}}>{{this.text}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input activation-toggle" type="checkbox" name="courseActive" 
          {{#if course.active}}
            checked
          {{/if}}>
          <label class="form-check-label" for="courseActive">Matéria 
            <span>{{#if course.active}}{{else}}des{{/if}}ativad</span>a</label>
      </div>
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar alterações</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteCourse">
  Deletar curso
</button>

<div class="modal fade" id="deleteCourse" tabindex="-1" aria-labelledby="deleteCourseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCourseLabel">Deletar {{course.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/courses/{{course._id}}/delete" method="post">
        <div class="modal-body">
        <p>Tem certeza de que deseja remover o curso {{course.name}} do {{course.grade}} da plataforma?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Deletar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.querySelector('.activation-toggle').addEventListener('click', () => {
  const activationCheck = document.querySelector('.activation-toggle');
  if (activationCheck.checked) {
    activationCheck.parentNode.querySelector('label span').innerHTML = 'ativad';
  } else {
    activationCheck.parentNode.querySelector('label span').innerHTML =
      'desativad';
  }
  });
</script>


{{/if}}