<div class="input-form">
<h1 class="section-title">Crie uma nova matéria:</h1>

<form action="/new/course" method="post" enctype="multipart/form-data" class="px-4 py-3 needs-validation">
    <div class="row g-3">
      <div class="col-md-6">
        <label for="newCourseCode">Código da matéria:</label>
        <input type="text" class="form-control 
        {{#if codeError}}
          is-invalid
        {{/if}}" placeholder="Exemplo: MAT408" name="newCourseCode" value="{{newCourseCode}}">
        {{#if codeError}}
          <div class="invalid-feedback">{{codeError}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newCourseName">Nome da matéria:</label>
        <input type="text" class="form-control
        {{#if nameError}}
          is-invalid
        {{/if}}
        " placeholder="Exemplo: Matemática" name="newCourseName" value="{{newCourseName}}">
        {{#if nameError}}
          <div class="invalid-feedback">{{nameError}}</div>
        {{/if}}
      </div>
      <div class="mb-3">
        <textarea rows="3" class="form-control
          {{#if descriptionError}}
          is-invalid
          {{/if}}
        " placeholder="Descrição da matéria" name="newCourseDescription">{{newCourseDescription}}</textarea>
        {{#if descriptionError}}
          <div class="invalid-feedback">{{descriptionError}}</div>
        {{/if}}
      </div>
      <div class="col-md-2">
          <label for="courseImage">Imagem:</label>
      </div>
      <div class="col-md-10">
          <input type="file" class="form-control"  name="courseImage">
      </div>
      <div class="col-md-2">
          <label for="newCourseTeacher">Professor:</label>
      </div>
      <div class="col-md-10" id="CourseTeacherInput">
        <select class="form-select" name="newCourseTeacher">
          {{#each teachers}}
            <option value={{this._id}}>{{this.firstName}} {{this.lastName}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-2">
          <label for="newCourseGrade">Série:</label>
      </div>
      <div class="col-md-10" id="CourseGradeInput">
        <select class="form-select" name="newCourseGrade">
          {{#each gradesValues}}
            <option value={{this.value}}>{{this.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input activation-toggle" type="checkbox" name="newCourseActive" checked>
        <label class="form-check-label" for="newCourseActive">Matéria <span>ativad</span>a</label>
      </div>
    
    <button type="submit" class="btn btn-primary">Salvar e disponibilizar matéria para acesso</button>
  </div>
</form>
</div>