<div class="input-form">
<h1 class="section-title">Crie uma nova Conta Aluno:</h1>

<form action="/new/student" method="post" class="px-4 py-3 needs-validation">
    <div class="row g-3">
      {{#if newStudentParent}}
      <div class="d-none">
        <input type="text" class="form-control" name="newUserParent" value={{newStudentParent}}>
      </div>
      {{/if}}
      <div class="col-md-6">
        <label for="newUserFirstName">Nome do aluno:</label>
        <input type="text" class="form-control
          {{#if validationErrors.userFirstNameErrors}}
            is-invalid
          {{/if}}
        " placeholder="Nome" name="newUserFirstName" value={{newUserFirstName}}>
        {{#if validationErrors.userFirstNameErrors}}
           <div class="invalid-feedback">{{validationErrors.userFirstNameErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newUserLastName">Sobrenome do aluno:</label>
        <input type="text" class="form-control
          {{#if validationErrors.userLastNameErrors}}
            is-invalid
          {{/if}}
        " placeholder="Sobrenome" name="newUserLastName" value={{newUserLastName}}>
        {{#if validationErrors.userLastNameErrors}}
          <div class="invalid-feedback">{{validationErrors.userLastNameErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newUserEmail">Email:</label>
        <input type="email" class="form-control
        {{#if validationErrors.userEmailErrors}}
          is-invalid
        {{/if}}
        " placeholder="exemplo@escoladofuturo.com" name="newUserEmail" value={{newUserEmail}}>
        {{#if validationErrors.userEmailErrors}}
          <div class="invalid-feedback">{{validationErrors.userEmailErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newUserPassword">Senha:</label>
        <input type="password" class="form-control
          {{#if validationErrors.userPasswordErrors}}
            is-invalid
          {{/if}}
        " placeholder="********" name="newUserPassword">
        {{#if validationErrors.userPasswordErrors}}
          <div class="invalid-feedback">{{validationErrors.userPasswordErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="mb-3" id="newStudentGradeInput">
        <label for="newUserGrade" class="form-label">Série que o aluno cursa atualmente:</label>
        <select class="form-select" name="newUserGrade">
          {{#each gradesValues}}
            <option value={{this.value}}>{{this.text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input activation-toggle" type="checkbox" name="newUserActive" checked>
        <label class="form-check-label" for="newUserActive">Usuário <span>ativad</span>o</label>
      </div>

    <button type="submit" class="btn btn-primary">Salvar e enviar credenciais por email</button>
  </div>
</form>
</div>