{{#if isParent}}
    <h1>Meus Filhos</h1>
{{else}}
    <h1>Alunos</h1>
{{/if}}


<div class="d-flex justify-content-between align-items-center mb-3">
{{#if isTeacher}}
    <div class="dropdown">
        <button class="btn
            {{#if gradeSelection}}
                btn-primary
            {{else}}
                btn-secondary
            {{/if}}
         " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Série: 
                {{#if gradeSelection}}
                    {{gradeSelection}}
                {{else}}
                    Todas
                {{/if}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter filter-icon" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>     
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item 
            {{#if gradeSelection}}
            {{else}}
                active
            {{/if}}
            " href="/students">Todas as séries</a></li>
            <li><hr class="dropdown-divider"></li>
            {{#each gradesValues}}
                <li><a class="dropdown-item
                    {{#if this.isSelected}}
                        active
                    {{/if}}
                " href="/students?grade={{this.value}}">{{this.text}}</a></li>
            {{/each}}
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn 
            {{#if statusSelection}}
                btn-primary
            {{else}}
                btn-secondary
            {{/if}}
        " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Status: 
            {{#if statusSelection}}
                    {{statusName}}
                {{else}}
                    Todos
                {{/if}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter filter-icon" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>    
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item 
                {{#if statusName}}
                {{else}}
                    active
                {{/if}}
            " href="/students">Todos os alunos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item
            {{#if isActive}}
                    active
                {{/if}}
            " href="/students?active=true">Usuários ativos</a></li>
            <li><a class="dropdown-item
             {{#if statusSelection}}
                    {{#if isActive}}
                    {{else}}
                        active
                    {{/if}}
                {{/if}}
            " href="/students?active=false">Usuários desativados</a></li>
        </ul>
    </div>

<a href="/new/student"><button class="btn btn-primary">Criar novo aluno</button></a>

{{/if}}

{{#if isTeacher}}
<form class="my-auto" action="/students" method="post">
{{else}}
<form class="my-auto" action="/children" method="post">
{{/if}}
    <div class="input-group">
        <input type="text" class="form-control" name="studentName" placeholder="Nome do aluno">
        <button type="submit" class="btn btn-primary">Buscar Aluno</button>
    </div>
</form>
</div>

{{#if students}}
    {{#if isTeacher}}
        <div class="item-list">
            {{#each students}}
                <a href="/students/{{this._id}}" class="card content-card text-reset text-decoration-none" style="width: 15rem;">
                    <img src="{{this.profilePicture}}" class="card-img-top item-img" alt="Student Picture">
                    <div class="card-body py-1">
                        <h5 class="card-title text-center">{{this.firstName}} {{this.lastName}}</h5>
                        <p class="card-text text-center reduce-text-size">{{this.grade_text}}</p>
                    </div>
                </a>
            {{/each}}
        </div>
    {{else}}
        <div class="item-list">
            {{#each students}}
                <a href="/children/{{this._id}}" class="card content-card text-reset text-decoration-none" style="width: 15rem;">
                    <img src="{{this.profilePicture}}" class="card-img-top item-img" alt="Student Picture">
                    <div class="card-body py-1">
                        <h5 class="card-title text-center my-0">{{this.firstName}} {{this.lastName}}</h5>
                        <p class="card-text text-center reduce-text-size">{{this.grade_text}}</p>
                    </div>
                </a>
            {{/each}}
        </div>
    {{/if}}
{{else}}
    <h1 class="section-title">Nenhum aluno encontrado. Tente novamente.</h1>
{{/if}}