<div class="input-form">
<h1 class="section-title">Crie uma nova Conta Pai:</h1>

<form action="/new/parent" method="post" class="px-4 py-3 needs-validation">
    <div class="row g-3">
      {{#if studentId}}
      <div class="d-none">
        <input type="text" class="form-control" placeholder="Nome" name="newParentStudent" value={{studentId}}>
      </div>
      {{else}}
      <div class="mb-3" id="newParentStudentInput">
        <label for="newParentStudent" class="form-label">Escolha o filho:</label>
        <select class="form-select" name="newParentStudent">
          {{#each students}}
            <option value={{this._id}}>{{this.grade_text}} - {{this.firstName}} {{this.lastName}}</option>
          {{/each}}
        </select>
      </div>
      {{/if}}
      <div class="col-md-6">
        <label for="newParentFirstName">Nome:</label>
        <input type="text" class="form-control
          {{#if validationErrors.userFirstNameErrors}}
            is-invalid
          {{/if}}
        
        " placeholder="Nome" name="newParentFirstName" value={{newParentFirstName}}>
        {{#if validationErrors.userFirstNameErrors}}
            <div class="invalid-feedback">{{validationErrors.userFirstNameErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newParentLastName">Sobrenome:</label>
        <input type="text" class="form-control
          {{#if validationErrors.userLastNameErrors}}
            is-invalid
          {{/if}}
        " placeholder="Sobrenome" name="newParentLastName" value={{newParentLastName}}>
        {{#if validationErrors.userLastNameErrors }}
          <div class="invalid-feedback">{{validationErrors.userLastNameErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newParentEmail">Email:</label>
        <input type="email" class="form-control
          {{#if validationErrors.userEmailErrors}}
            is-invalid
          {{/if}}
        " placeholder="exemplo@escoladofuturo.com" name="newParentEmail" value={{newParentmail}}>
        {{#if validationErrors.userEmailErrors}}
          <div class="invalid-feedback">{{validationErrors.userEmailErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newParentPassword">Senha:</label>
        <input type="password" class="form-control
          {{#if validationErrors.userPasswordErrors}}
            is-invalid
          {{/if}}
        " placeholder="********" name="newParentPassword">
        {{#if validationErrors.userPasswordErrors}}
          <div class="invalid-feedback">{{validationErrors.userPasswordErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input activation-toggle" type="checkbox" name="newParentActive" checked>
        <label class="form-check-label" for="newParentActive">Usuário <span>ativad</span>o</label>
      </div>
    
    <button type="submit" class="btn btn-primary">Salvar e enviar credenciais por email</button>
  </div>
</form>
</div>