<h1>Pais</h1>
<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="dropdown">
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             Série: <span>Todas</span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter filter-icon" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>    
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item active" href="/students">Todas as séries</a></li>
            <li><hr class="dropdown-divider"></li>
            {{#each gradesValues}}
                <li><a class="dropdown-item" href="/parents?grade={{this.value}}">{{this.text}}</a></li>
            {{/each}}
        </ul>
    </div>
    
    <a href="/new/parent"><button class="btn btn-primary">Criar novo pai</button></a>

    <form class="my-auto" action="/parents" method="post">
        <div class="input-group w-100">
            <input type="text" class="form-control" name="parentName" placeholder="Nome do pai">
            <button type="submit" class="btn btn-primary">Buscar Pai</button>
        </div>
    </form>
</div>


{{#if parents}}
<div class="item-list">
    {{#each parents}}
        <div class="card content-card" style="width: 15rem;">
            <a href="/parents/{{this._id}}" class="text-decoration-none text-reset">
                <img src="{{this.profilePicture}}" class="card-img-top item-img img-fluid" alt="Parent Picture">
            </a>
            <div class="card-body py-1">
                <h5 class="card-title text-center">{{this.firstName}} {{this.lastName}}</h5>
                {{#if this.children}}
                    <small class="my-1">Filhos:</small>
                    <div class="d-flex flex-row justify-content-center align-items-center">
                            {{#each this.children}}
                            <a class="text-decoration-none text-reset" href="/students/{{this._id}}">     
                                <div class="d-flex flex-column ms-3" >
                                    <img src="{{this.profilePicture}}" class="avatar mx-auto" alt="Child Picture">
                                    <small class="text-center">{{this.firstName}} - {{this.grade}}</small>
                                </div>
                            </a>
                            {{/each}}
                    </div>
                    {{/if}}
            </div>
        </div>
    {{/each}}
</div>
{{else}}
    <h1 class="section-title">Nenhum pai encontrado. Tente novamente.</h1>
{{/if}}