<h4>{{parent.firstName}} {{parent.lastName}}</h4>
<div class="content-container">
  <img class="content-img" src="{{parent.profilePicture}}" alt="{{parent.firstName}} image">
  <div><h5>Email: <span>{{parent.email}}</span></h5>
  <h5>Data de nascimento: <span>{{birthDateFormatted}}</span></h5>
  <h5>Filhos:
    {{#if parent.children}}
      <ul>
      {{#each parent.children}}
        <li>
          <a href="/students/{{this._id}}">{{this.firstName}} {{this.lastName}} - {{this.grade}} </a>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  </h5>
  <a href="/new/student?parentId={{parent._id}}"><button class="btn btn-primary">Adicionar filho</button></a>
  </div>
</div>


{{#if isTeacher}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editParent">
  Editar pai
</button>

<!-- Modal -->
<div class="modal fade" id="editParent" tabindex="-1" aria-labelledby="editParentLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editParentLabel">Editar conta de {{parent.firstName}} {{parent.lastName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/parents/{{parent._id}}/edit" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Nome" name="parentFirstName" value={{parent.firstName}}>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Sobrenome" name="parentLastName" value={{parent.lastName}}>
            </div>
            <div class="col-md-6">
              <input type="email" class="form-control" placeholder="Email" name="parentEmail" value={{parent.email}}>
            </div>
            <div class="col-md-6">
              <input type="date" class="form-control" placeholder="Data de nascimento" name="parentBirthDate" value={{birthDateFormatted}}>
            </div>
            <div class="mb-3">
              <input type="file" class="form-control" placeholder="Foto do aluno" name="parentImage">
            </div>
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar alterações</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteParent">
  Deletar pai
</button>

<div class="modal fade" id="deleteParent" tabindex="-1" aria-labelledby="deleteParentLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteParentLabel">Deletar {{parent.firstName}} {{parent.lastName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/parents/{{parent._id}}/delete" method="post">
        <div class="modal-body">
        <p>Tem certeza de que deseja remover o pai {{parent.firstName}} {{parent.lastName}} da plataforma?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Deletar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.querySelector('.activation-toggle').addEventListener('click', () => {
  const activationCheck = document.querySelector('.activation-toggle');
  if (activationCheck.checked) {
    activationCheck.parentNode.querySelector('label span').innerHTML = 'ativad';
  } else {
    activationCheck.parentNode.querySelector('label span').innerHTML =
      'desativad';
  }
  });
</script>

{{/if}}