<h1>Crie uma nova Conta Aluno:</h1>

<form action="/new/student" method="post">
  <div id="newUserForm">
    <div class="row g-3">
      <div class="col-md-12">
        {{#if uniquenessError}}
          <span class="text-danger">{{uniquenessError}}</span>
        {{/if}}
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Nome" name="newUserFirstName" value={{newUserFirstName}}>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Sobrenome" name="newUserLastName" value={{newUserLastName}}>
      </div>
      <div class="col-md-6">
        {{#if validationErrors.userFirstNameErrors}}
          <span class="text-danger">{{validationErrors.userFirstNameErrors.[0]}}</span>
        {{/if}}
      </div>
      <div class="col-md-6">
        {{#if validationErrors.userLastNameErrors}}
          <span class="text-danger">{{validationErrors.userLastNameErrors.[0]}}</span>
        {{/if}}
      </div>
      <div class="col-md-6">
        <input type="email" class="form-control" placeholder="Email" name="newUserEmail" value={{newUserEmail}}>
      </div>
      <div class="col-md-6">
        <input type="password" class="form-control" placeholder="Senha" name="newUserPassword">
      </div>
      <div class="col-md-6">
        {{#if validationErrors.userEmailErrors}}
          <span class="text-danger">{{validationErrors.userEmailErrors.[0]}}</span>
        {{/if}}
      </div>
      <div class="col-md-6">
        {{#if validationErrors.userPasswordErrors}}
          <span class="text-danger">{{validationErrors.userPasswordErrors.[0]}}</span>
        {{/if}}
      </div>
      <div class="mb-3" id="newStudentGradeInput">
        <label for="newUserGrade" class="form-label">Série que o aluno cursa atualmente:</label>
        <select class="form-select" name="newUserGrade">
          {{#each gradesValues}}
            <option value={{this.value}}>{{this.text}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Salvar e enviar credenciais por email</button>
</form>


{{!-- Completar signup:


 <div class="mb-3">
    <label for="userProfilePicture" class="form-label">Escolha sua foto de perfil:</label>
    <input type="file" class="form-control" id="userProfilePicture">
    </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="userNewsletterOptIn">
    <label class="form-check-label" for="userNewsletterOptIn">Quero receber a newsletter semanal da Escola do Futuro.</label>
  </div>
  <div class="mb-3">
    <label for="userBirthDate" class="form-label">Data de nascimento:</label>
    <input type="date" class="form-control" id="userLastName">
    </div>

 --}}