<div class="input-form">
<h1 class="section-title">Crie uma nova Conta Professor:</h1>

<form action="/new/teacher" method="post" class="px-4 py-3 needs-validation">
    <div class="row g-3">
      <div class="col-md-6">
        <label for="newUserFirstName">Nome do professor:</label>
        <input type="text" class="form-control
          {{#if validationErrors.userFirstNameErrors}}
            is-invalid
          {{/if}}
        " placeholder="Nome" name="newUserFirstName" value={{newUserFirstName}}>
        {{#if validationErrors.userFirstNameErrors}}
           <div class="invalid-feedback">{{validationErrors.userFirstNameErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newUserLastName">Sobrenome do professor:</label>
        <input type="text" class="form-control
          {{#if validationErrors.userLastNameErrors}}
            is-invalid
          {{/if}}
        " placeholder="Sobrenome" name="newUserLastName" value={{newUserLastName}}>
        {{#if validationErrors.userLastNameErrors}}
          <div class="invalid-feedback">{{validationErrors.userLastNameErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newUserEmail">Email:</label>
        <input type="email" class="form-control
        {{#if validationErrors.userEmailErrors}}
          is-invalid
        {{/if}}
        " placeholder="exemplo@escoladofuturo.com" name="newUserEmail" value={{newUserEmail}}>
        {{#if validationErrors.userEmailErrors}}
          <div class="invalid-feedback">{{validationErrors.userEmailErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="col-md-6">
        <label for="newUserPassword">Senha temporária:</label>
        <input type="text" class="form-control
          {{#if validationErrors.userPasswordErrors}}
            is-invalid
          {{/if}}
        " name="newUserPassword" value={{newUserPassword}} readonly>
        {{#if validationErrors.userPasswordErrors}}
          <div class="invalid-feedback">{{validationErrors.userPasswordErrors.[0]}}</div>
        {{/if}}
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input activation-toggle" type="checkbox" name="newUserActive" checked>
        <label class="form-check-label" for="newUserActive">Usuário <span>ativad</span>o</label>
      </div>

    <button type="submit" class="btn btn-primary">Salvar e enviar credenciais por email</button>
  </div>
</form>
</div>